@import '~src/scss/variables.scss';

.header-user-info {
  position: fixed;
  top: 0;
  right: rem-calc(30px);
  z-index: 101;

  padding: rem-calc(15px);
  background: $light-black;
  color: $light-grey;
  cursor: pointer;
  transition: .5s;

  @include breakpoint(xs) {
    right: 0;
    width: 100%;
    text-align: right;
  }
}
